body {
    background-color: rgb(254,251,234);
}

.nav {
    background-color: rgb(255, 255, 255);

    .nav-item{
        margin-right: 10px;

        a {
            font-weight: bold;
            color: rgb(190, 125, 185);
            font-size: 150%;
        }
    }
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(138, 68, 132);
    font-weight: bold;

    .disclaimer {
        font-weight: bold;
        color:  rgb(190, 125, 185);
    }

    .copy-right {
        font-size: 70%;
        margin-top: 10px;
    }
}
