$colorTexto: rgb(190, 125, 185);

body {
    background-color: rgb(254,251,234);
}

.nav {
    background-color: rgb(255, 255, 255);

    .nav-item{
        margin-right: 10px;

        a {
            font-weight: bold;
            color: $colorTexto;
            font-size: 150%;
        }
    }
}

main {

    font-weight: bold;
    color: $colorTexto;
    .segundo {
        margin-top: -10px;
    }
}

.formulario {
    width: 50%;
    margin-bottom: 10px;
    .estilo-form {
        font-weight: bold;
        color: $colorTexto;
    }
    
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(138, 68, 132);
    font-weight: bold;
    height: 100px;

    .disclaimer {
        font-weight: bold;
        color: $colorTexto;
    }

    .copy-right {
        font-size: 70%;
        margin-top: 10px;
    }
}
